<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444739649310-c96b3ii5tafa4fch9j88uqd3sem2n4n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444739649310-c96b3ii5tafa4fch9j88uqd3sem2n4n8</string>
	<key>API_KEY</key>
	<string>AIzaSyDstVeuiXXhDTjvfE5dmDMgXCj5fYByoBo</string>
	<key>GCM_SENDER_ID</key>
	<string>444739649310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aphaaApp</string>
	<key>PROJECT_ID</key>
	<string>abhaa-c8ff8</string>
	<key>STORAGE_BUCKET</key>
	<string>abhaa-c8ff8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444739649310:ios:ddabbdd779ac186da9530f</string>
</dict>
</plist>