<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487457101840-1ukqpuqgphqrf3e9rofelo32kgeaf2hb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487457101840-1ukqpuqgphqrf3e9rofelo32kgeaf2hb</string>
	<key>API_KEY</key>
	<string>AIzaSyCS73gBkkEpxOtpAA5ASyLuUtz2cDuEXW4</string>
	<key>GCM_SENDER_ID</key>
	<string>487457101840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aph.med.aphaaApp</string>
	<key>PROJECT_ID</key>
	<string>hamsapp-47920</string>
	<key>STORAGE_BUCKET</key>
	<string>hamsapp-47920.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487457101840:ios:49c395de088c5175af5295</string>
</dict>
</plist>